body{
    background-color: rgb(237, 240, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.livros-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.grid{
    width: 80%;
    justify-content: center;
    height: fit-content;
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem 2rem;
}
#livro{
    background-color: rgb(53, 52, 52);
    width: 8rem;
    height: 11rem;
}
.add{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2rem;
    background-color:rgb(180, 180, 180);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.close{
    font-size: 2rem;
    cursor: pointer;
}

.modal{
    display: none;
}